.menu__content {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: var(--container-color);
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.menu__img {
  display: flex;
  align-self: center;
  width: 300px;
  height: 300px;
  object-fit: cover;
  padding: 2rem;
  border-radius: 50px;
  width: 40rem;
}

.menu__detail {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: var(--mb-4);
}

.icon {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 5rem;
  color: var(--first-color);
}
.statement {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 1rem;
  text-align: left;
  padding: 1rem;
  margin-bottom: var(--mb-4);
}

@media screen and (min-width: 768px) {
  .menu__img {
    width: 40rem;
  }
  .icon {
    font-size: 5rem;
  }
}
