.menu__content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: var(--container-color);
  border-radius: 20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}
.menu__img {
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 5rem;
  margin: 5vh;
}

.menu__detail {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-top: var(--mb-3);
  margin: 2.5rem;
}

.icon {
  display: flex;
  flex-direction: row;
  align-self: center;
  font-size: 5rem;
  color: var(--first-color);
}

@media screen and (min-width: 768px) {
  .menu__img {
    width: 5rem;
    margin: 2.5rem 2.5rem 0 2.5rem;
  }
  .icon {
    font-size: 5rem;
    margin: 2.5rem 2.5rem 0 2.5rem;
  }
}
