.grid {
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.g2 {
  order: -1;
  align-self: center;
  min-width: 0px;
}
.g1 {
  padding: 2rem;
}

.section {
  padding: 4rem 0 2rem;
}

.about__data {
  text-align: center;
}

.sectionTitle {
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.about__description {
  margin-bottom: var(--mb-3);
}
.about__img {
  width: 280px;
  border-radius: 0.5rem;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 8rem;
  }
}

@media screen and (min-width: 960px) {
  .about__container {
    column-gap: 2rem;
  }
}

@media screen and (min-width: 576px) {
  .about__initial {
    text-align: initial;
  }

  .about__img {
    width: 40vh;
    order: -1;
  }
  g1 {
    order: -1;
  }
}
