.bdContainer {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding: 4rem 0 2rem;
}

.about__data {
  text-align: center;
}

.sectionTitle {
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}

.about__description {
  margin-bottom: var(--mb-3);
}
.about__img {
  width: 280px;
  border-radius: 0.5rem;
  justify-self: center;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 10rem;
  }
}

@media screen and (min-width: 960px) {
  .about__container {
    column-gap: 2rem;
  }
  .bdContainer {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 576px) {
  .about__initial {
    text-align: initial;
  }

  .about__img {
    width: 40vh;
    order: -1;
  }
  g1 {
    order: -1;
  }
}
