.section {
  padding: 4rem 0 2rem;
}

.bdContainer {
  max-width: 960px;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.about__container {
  align-items: center;
}

.bdGrid {
  display: grid;
  gap: 1.5rem;
}
.about__data {
  text-align: center;
}
.sectionTitle {
  text-align: center;
  font-size: var(--h1-font-size);
  color: var(--first-color);
  margin-bottom: var(--mb-3);
}
.about__description {
  margin-bottom: var(--mb-3);
}

/*========== LAYOUT ==========*/

@media screen and (min-width: 576px) {
  .about__data {
    text-align: initial;
  }
  .about__initial {
    text-align: initial;
  }
}

@media screen and (min-width: 768px) {
  .section {
    padding-top: 10rem;
  }
}
@media screen and (min-width: 960px) {
  .bdContainer {
    margin-left: auto;
    margin-right: auto;
  }
  .about__container {
    column-gap: 7rem;
  }
}
